<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save <strong>any kind</strong> of <strong>movies</strong>!</h1>
    <p>Create your own.</p>
    <%= link_to "New List", new_list_path, class: "btn btn-gradient" %>
  </div>
</div>
<div class="container">
<div class="cards">
<% @lists.each do |list| %>
  <%= link_to list.name, list, class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)" %>
<% end %>
</div>
</div>
